{% extends "components/layout.html" %}

{% block title %}Authenticate{% endblock %}
{% block content %}
<main class="mt-8 px-4">
	<form method="POST" enctype="application/x-www-form-urlencoded"
		class="px-4 py-2 border border-gray-700 bg-gray-900 rounded-md shadow max-w-sm mx-auto">
		<h1 class="font-semibold text-center text-3xl my-4">{% if signup %}Register{% else %}Login{% endif %}</h1>
		<div class="my-2">
			<label for="email" class="font-semibold text-sm">Enter your email</label>
			<input type="email" name="email" id="email" placeholder="john@doe.com"
				class="bg-gray-700 border border-gray-500 rounded px-2 py-1 w-full">
		</div>
		<div class="my-2">
			<label for="password" class="font-semibold text-sm">Enter your password</label>
			<input type="password" name="password" id="password" placeholder="************"
				class="bg-gray-700 border border-gray-500 rounded px-2 py-1 w-full">
		</div>
		<button
			class="bg-blue-500 px-2 my-2 py-1 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 text-white border border-white rounded w-full">{%
			if signup %}Register{% else %}Login{% endif %}</button>
		<h3 class="text-sm my-4 uppercase text-center font-semibold text-gray-300">Or</h3>
		<a href="/auth/github"
			class="bg-[#181717] px-2 my-2 py-1 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 text-white border border-white rounded w-full flex items-center gap-2 justify-center">
			<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-white">
				<title>GitHub</title>
				<path
					d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
			</svg>
			Sign in with GitHub</a>
	</form>
</main>
{% endblock %}
