<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>{% block title %}Robyn Twitter Clone{% endblock %}</title>
</head>

<body>
	<nav class="bg-gray-900 text-gray-300 border-b border-gray-700 px-4 py-2 w-full">
		<div class="flex justify-between items-center max-w-screen-lg mx-auto">
			<a href="/" class="text-lg text-white">Robyn Twitter Clone</a>
			<div class="flex items-center gap-4">
				<a href="/login">Sign in</a>
				<a href="/register" class="bg-blue-500 border-white px-2 py-1 font-bold text-white">Sign up</a>
			</div>
		</div>
	</nav>
	{% block content %}
	hi
	{% endblock %}
</body>

</html>
